.tweetContainer {
  background-color: #FFF;
  border-bottom: 1px solid #E1E8ED;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: #14171A;
  overflow-y: auto; 
  overflow-x: hidden;
  border-radius: 3px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.tweetContainer:hover {
  background-color: #f7f7f7;
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tweetAuthorName {
  font-weight: bold;
  color: #14171A;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 550px;
}

.content {
  margin-top: 5px;
  font-size: 18px;
  color: #14171A;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.datePosted {
  margin-top: 5px;
  font-size: 14px;
  color: #AAB8C2;
}
